/*standard stylesheet*/

html, body {
  padding-top: 0rem; /* Makes sure the content does not hit the navigation bar */
  text-align: center;
  height: 100%;
  background: #e5e5e5;
}

/*footer*/

.footerOMS {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  height: 80px;
}

.footerOMS .container .text-muted {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  font-size: 12px;
}


/*landing*/

/*background and text*/
.bg {
    background-image: url('https://images.wallpaperscraft.com/image/cliff_loneliness_ocean_124788_3840x2400.jpg');
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headtext {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headtext h1 {
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}

/*overlays*/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #343a40;
  height: 100px;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #343a40;
  height: 100px;
  margin: 30px 0;
  transform: rotate(-2deg) scale(1) translate(0px);
}

.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e5e5e5;
  height: 100px;
  margin: 30px 0;
  transform: rotate(-2deg) scale(1) translate(0px);
}

.overlay4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e5e5e5;
  height: 100px;
}

/*page content*/

.container {
  height: 100%;
  background: #e5e5e5;
  padding-top: 100px;
}

/*Custom scrollingbar*/

/* Cookie notice */
 .cookie-notice {
  position: absolute;
  width: 100%;
  height: 30px;
  color: #fff;
  background-color: #734eff;
}
 .cookie-readmore {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}
 .cookie-readmore .window {
  position: absolute;
  width: 50%;
  height: 80%;
  color: #010101;
  background-color: #fff;
}

/* width of the scrollbar */
::-webkit-scrollbar {
    width: 2px;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
    background: #343a40;
    opacity: 1;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #e5e5e5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e5e5e5;
}
