body {
  padding-top: 3rem; /* Makes sure the content does not hit the navigation bar */
  text-align: center;
}
.footerOMS {
  text-align: center;
  position: fixed:
  bottom: 0;
  left: 0;
  right: 0;
}
