html, body {
  padding-top: 0rem; /* Makes sure the content does not hit the navigation bar */
  text-align: center;
  height: 100%;
}

.footerOMS {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  height: 80px;
}

.footerOMS .container .text-muted {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  font-size: 12px;
}

.landing {
  position: relative;
  width: 100%;
  height: 90%;
  background-image: url('https://images.wallpaperscraft.com/image/cliff_loneliness_ocean_124788_3840x2400.jpg');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 70px;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 70px;
  margin: 30px 0;
  transform: rotate(-2deg) scale(1) translate(0px);
}

.overlaytext {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000;
  height: 70px;
  margin: 30px 0;
  transform: rotate(-2deg) scale(1) translate(0px);
}

.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 70px;
  margin: 30px 0;
  transform: rotate(-2deg) scale(1) translate(0px);
}

.overlay4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 70px;
}

.container {
  height: 100%;
}
